<div class="container-fluid bg-color">
  <div class="row login-box">
    <div class="col-6 left-side-bg">
      <h1>love property</h1>
      <p>Discover the best properties in your city</p>
      <form>
        <h2>Log in</h2>
        <button type="button" class="form-control login-with-custom mb-3">
          Log in with Google
        </button>
        <button type="button" class="form-control login-with-custom">
          Log in with GitHub
        </button>
        <hr />
        <div class="">
          <input
            type="email"
            placeholder="Email Address"
            class="form-control mb-3"
          />
          <input
            type="password"
            placeholder="Password"
            class="form-control mb-1"
          />
        </div>
        <div class="mb-3">
          <span style="float: left">
            <input type="checkbox" id="remember-me" checked />
            <label for="remember-me">&nbsp; Remember Me</label>
          </span>
          <span style="float: right">
            <a href="#">Forgot Password</a>
          </span>
        </div>
        <button type="submit" class="form-control login-btn mt-2">
          Log In
        </button>
        <p>Don't have an account? <a href="">Create one now.</a></p>
      </form>
      <div><p>2024 Vortex. All rights reserved.</p></div>
    </div>
    <div class="col-6 right-side-bg">
      <div><p>Follow Us on</p></div>
    </div>
  </div>
</div>
